.calculator-sec {
  .card-lr {
    .header {
      font-weight: 700;
      font-size: 20px;
      color: #fff;
      margin-bottom: 4px;
    }
    .sub-header {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #fff;
    }
    .sub-card-title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #2a2aff;
      margin-bottom: 2px;
    }
    .sub-card-value {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;     
      line-height: 29px;
      color: #fff;
    }

    .form-contorl {
      max-width: 21rem;
      width: 100%;
      position: relative;
      label {
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        margin-bottom: 5px;
        margin-left: 10px;
      }
      input {
        max-width: 21rem;
        width: 87%;
        border: 2px solid var(--primary-color);
        height: 1.1876em;
        margin: 0;
        display: block;
        border-radius: 10px;
        padding: 6px 0 7px;
        background: #2424546d;
        box-sizing: content-box;
        outline: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: hsla(0, 0%, 100%, 0.6);
        padding: 14px 20px;
      }
      .input-right {
        position: absolute;
        right: 10px;
        bottom: 15px;
      }
    }

    .form-control-range {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
      }
      input {
        margin-top: 10px;
        width: 100%;
        height: 6px;
        outline: none;
        background: linear-gradient(90deg, #030342, #6d6797);
        box-shadow: 0 0 2px 0 #6d6797;

        // &::-webkit-slider-thumb {
        //     width: 20px;
        //     height: 20px;
        //     border-radius: 50%;
        //     -webkit-appearance: none;
        //     background: red;
        //   }
      }
    }

    .bottom-sec{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}

@media (max-width: 992px) {
	.sub-card-title {
    font-size: 15px !important;
  }
  .sub-card-value {
    font-weight: 600 !important;
    font-size: 17px !important;
  }
}